.location-card {
    border-left: 2px solid #49aaca;
    margin: 12px 0;
    height: 79px;
    width: 355px;
}

div.location-card:hover * {
    background-color:#49aaca;
    color:white;
}

.location-header {
    padding: 14px 14px 0 14px;
    font-family: Roboto;
    font-size: 20px;
    color:#454545;
    text-transform: uppercase;
}

.location-secondary-info {
    display: flex;
    padding: 0px 14px 14px 14px;
    align-items: center;
}

.location-text {
    font-family: Roboto;
    font-size: 12px;
    color:#a3a3a3;
}

.location-icon {
    font-family: 'Material Icons';
    color:#a3a3a3;
    padding-right: 5px;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
}